<div class="causes causes--container container">
  <div class="causes--item causes--item--left">
    <div class="causes--num"><img src="" alt="" /></div>
    <div class="causes--content causes--content--left causes--content--1">
      <div class="causes--header">Lack of Oxygen</div>
      <div class="causes--desc">
        Not having enough Oxygen during labour may cause the child to have the disease
      </div>
    </div>
  </div>

  <div class="causes--item causes--item--right">
    <div class="causes--num"><img src="" alt="" /></div>
    <div class="causes--content causes--content--right causes--content--2">
      <div class="causes--header">Genes</div>
      <div class="causes--desc">
        Some abnormal gene mutations may be the cause of this disease
      </div>
    </div>
  </div>

  <div class="causes--item causes--item--left">
    <div class="causes--num"><img src="" alt="" /></div>
    <div class="causes--content causes--content--left causes--content--3">
      <div class="causes--header">Head Injuries</div>
      <div class="causes--desc">
        Getting head injuries due to accidents like car crashes may lead to having this disease
      </div>
    </div>
  </div>

  <div class="causes--item causes--item--right">
    <div class="causes--num"><img src="" alt="" /></div>
    <div class="causes--content causes--content--right causes--content--4">
      <div class="causes--header">Brain Infections</div>
      <div class="causes--desc">
        Brain Infections like encephalitis may cause this disease.
      </div>
    </div>
  </div>

  <div class="causes--item causes--item--left">
    <div class="causes--num"><img src="" alt="" /></div>
    <div class="causes--content causes--content--left causes--content--5">
      <div class="causes--header">intracranial hemorrhage</div>
      <div class="causes--desc">
        Acute bleeding in the brain, also known as intracranial hemorrhage, may cause this disease
      </div>
    </div>
  </div>

    <!-- <div class="causes--item causes--item--right">
      <div class="causes--num"><img src="" alt="" /></div>
      <div class="causes--content causes--content--right causes--content--6">
        <div class="causes--header">Lorem Ipsum</div>
        <div class="causes--desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum
          dolor sit amet consectetur, adipisicing elit.
        </div>
      </div>
    </div> -->

  <div class="emptycell-1"></div>
  <div class="emptycell-2"></div>
  <div class="emptycell-3"></div>
  <div class="emptycell-4"></div>
  <div class="emptycell-5"></div>
  <div class="emptycell-6"></div>
  <div class="emptycell-7"></div>
</div>
