
<div class="container definition-container">
  <h1 class="definition-title">So what is this disease ?</h1>
  <p class="definition-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate quam id quod sapiente blanditiis deserunt esse! Eveniet repudiandae vitae, ipsum, deleniti quo asperiores facilis quae, veritatis similique aut ex dicta.</p>

  <div class="definition-class">
    <div class="box box--header">
      <h2>Chronic</h2>
    </div>
    <div class="box box--header">
      <h2>Communicable</h2>
    </div>

    <div class="box box--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deserunt quibusdam quis officiis a error distinctio hic.</p>
    </div>    
    <div class="box box--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deserunt quibusdam quis officiis a error distinctio hic.</p>
    </div>
  </div>
</div>