
<div class="container definition-container">
  <h1 class="definition-title">So what is this disease ?</h1>
  <p class="definition-desc">Cerebral Palsy (CP) is a disorder of movement and posture that appears during infancy or early childhood resulting from damage to the brain. The damage to the brain is permanent and cannot be cured but the earlier we start with intervention the more improvement can be made.</p>

  <div class="definition-class">
    <div class="box box--header">
      <h2>Chronic</h2>
    </div>
    <div class="box box--header">
      <h2>Communicable</h2>
    </div>

    <div class="box box--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deserunt quibusdam quis officiis a error distinctio hic.</p>
    </div>    
    <div class="box box--content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore deserunt quibusdam quis officiis a error distinctio hic.</p>
    </div>
  </div>
</div>