
<div class="container definition-container">
  <h1 class="definition-title">So what is this disease ?</h1>
  <p class="definition-desc">Cerebral Palsy (CP) is a disorder of movement and posture that appears during infancy or early childhood resulting from damage to the brain. The damage to the brain is permanent and cannot be cured but the earlier we start with intervention the more improvement can be made.</p>

  <div class="definition-class">
    <div class="box box--header">
      <h2>Chronic</h2>
    </div>
    <div class="box box--header">
      <h2>Non-Communicable</h2>
    </div>

    <div class="box box--content">
      <p>Celebran Palsy is a Chronic Disease, which means that it stays with the patient for more than 3 months.</p>
    </div>    
    <div class="box box--content">
      <p>Due to the nature of this disease, it is a Non-Communicable disease, which means that it cannot spread to other people due to it being caused by reasons unrelated to that</p>
    </div>
  </div>
</div>