<div class="container heading-container">
  <div class="header-img">
    <img src="assets/285-2857496_cerebro-brain-transparent-background-huntington-disease-hd-png.png" alt="main pic">
  </div>
  <div class="title-container">
    <h1>huntington's disease</h1>
    <h4>a disease of the nervous system</h4>
  </div>

  <nav>
    <a href="javascript:void(0);" class="btn">item</a>
    <a href="javascript:void(0);" class="btn">item</a>
    <a href="javascript:void(0);" class="btn">item</a>
    <a href="javascript:void(0);" class="btn">item</a>
    <a href="javascript:void(0);" class="btn">item</a>
  </nav>
</div>