
<div class="container symptoms-container">
  <div class="card-container">
    <div class="card">
      <div class="desc">Memory lapse</div>
      <img class="img" src="../assets/symptoms/memory_lapse.jpg"/>
    </div>
    <div class="card">
      <div class="desc">Mood swings</div>
      <img class="img" src="../assets/symptoms/mood swings.png"/>
    </div>
    <div class="card">
      <div class="desc">Stumbling</div>
      <img class="img" src="../assets/symptoms/stumbling.jpg"/>
    </div>
  </div>
</div>