
<div class="container symptoms-container">
  <div class="card-container">
    <div class="card">
      <img class="img" src="../assets/symptoms/memory_lapse.jpg"/>
      <div class="desc">memory lapse</div>
    </div>
    <div class="card">
      <img class="img" src="../assets/symptoms/mood swings.png"/>
      <div class="desc">mood swings</div>
    </div>
    <div class="card">
      <img class="img" src="../assets/symptoms/stumbling.jpg"/>
      <div class="desc">stumbling</div>
    </div>
  </div>
</div>