
<div class="container symptoms-container">
  <div class="card-container">
    <div class="card">
      <div class="desc">Movement Difficulty</div>
      <img class="img" src="../assets/symptoms/memory_lapse.jpg"/>
    </div>
    <div class="card">
      <div class="desc">Tremors</div>
      <img class="img" src="../assets/symptoms/Hand-Tremors.gif"/>
    </div>
    <div class="card">
      <div class="desc">Stiff Muscles</div>
      <img class="img" src="../assets/symptoms/stumbling.jpg"/>
    </div>
  </div>
</div>