<section class="container">

    <div class="definition-class definition-treatment">

        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 1 </span>
                <span class="treatment--heading"> HELLO </span>
            </div>
            
            <div class="treatment--content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis nulla non commodo aliquet. Nulla facilisi. Sed cursus eros nec ligula mattis, sit amet dictum risus ultrices. Integer tempor ac ligula eget lacinia. </p>
            </div>
        </div>
        
        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 1 </span>
                <span class="treatment--heading"> HELLO </span>
            </div>
            
            <div class="treatment-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis nulla non commodo aliquet. Nulla facilisi. Sed cursus eros nec ligula mattis, sit amet dictum risus ultrices. Integer tempor ac ligula eget lacinia. </p>
            </div>
        </div>
        
        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 1 </span>
                <span class="treatment--heading"> HELLO </span>
            </div>
            
            <div class="treatment-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis nulla non commodo aliquet. Nulla facilisi. Sed cursus eros nec ligula mattis, sit amet dictum risus ultrices. Integer tempor ac ligula eget lacinia. </p>
            </div>
        </div>
        
        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 1 </span>
                <span class="treatment--heading"> HELLO </span>
            </div>
            
            <div class="treatment-content">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis nulla non commodo aliquet. Nulla facilisi. Sed cursus eros nec ligula mattis, sit amet dictum risus ultrices. Integer tempor ac ligula eget lacinia. </p>
            </div>
        </div>

    </div>

</section>