<section class="container">

    <div class="definition-class definition-treatment">

        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 1 </span>
                <span class="treatment--heading"> Orthotics </span>
            </div>
            
            <div class="treatment--content">
                <p> Orthotics are devices used during physical therapy to train major muscle groups. Splints, braces, and casts may be used to assist children with high or low muscle tone. </p>
            </div>
        </div>
        
        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 2 </span>
                <span class="treatment--heading"> Medications </span>
            </div>
            
            <div class="treatment-content">
                <p> Tightness of muscles can be lessened with the use of medication, like muscle/nerve injections. </p>
            </div>
        </div>
        
        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 3 </span>
                <span class="treatment--heading"> Physical Therapy </span>
            </div>
            
            <div class="treatment-content">
                <p> Muscle Training with Physical Therapy can help a lot with increasing the muscles strength, flexibility, and balance. </p>
            </div>
        </div>
        
        <div class="box treatment--box">
            <div class="treatment--header">
                <span class="treatment--num"> 4 </span>
                <span class="treatment--heading"> Orthopedic Surgery </span>
            </div>
            
            <div class="treatment-content">
                <p> Sometimes children with severe contractures and deformities need to have Orthopedic Surgeries, which places the the bones and joints into their correct positions.  </p>
            </div>
        </div>

    </div>

</section>