<div class="container who-container">
  <div class="hbody-image">
    <img src="../assets/central-nervous-system-QBI.jpg">
  </div>
  <div class="where-box one">
    Celebral Palsy affects the Celebral Cortex, which is the outer layer of the brain.
  </div>
  <div class="where-box two">
    Celebral Palsy is more common between men than women, and is more common between black people that white people
  </div>
  <div class="where-box three">
    Celebral Palsy could cause tremors to limbs (usually hands), which means involunarily movement
  </div>
  <div class="who">
    <div class="selection">
      <a href="javascript:void(0);">Children</a>
      <a href="javascript:void(0);">Infants</a>
    </div>
    <div class="who-desc"></div>
  </div>
</div>