
.who-container {
  position: relative;
  height: 100%;
  text-align: center;
  .hbody-image {
    filter: grayscale(100%);
    opacity: .4;
  }
  .where-box {
    position: absolute;
    top: 10rem;
    left: 10rem;
    width: 20rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    padding: 2rem;
    background-color: $col-secondary;
    &::before {
      z-index: -1;
      content: "";
      width: 30rem;
      height: 2rem;
      clip-path: polygon(0% 20%, 85% 20%, 85% 0%, 100% 50%, 85% 100%, 85% 80%, 0% 80%);
      background: green;
      position: absolute;
      top: -2rem;
      left: 20rem;
      transform: rotate(-15deg)
    }
  }

  .who {
    background: $col-secondary;
    padding: 3rem;
    text-align: center;

    .selection {
      width: 40rem;
      background: $col-tertiary;
      margin: auto;
      border-radius: .5rem;
      font-size: 1.75rem;
      margin-bottom: 3rem;
      a:link, a:visited {
        text-decoration: none;
        color: inherit;
        width: 8rem;
        height: 100%;
        padding: 1rem 1rem;
        cursor: default;
        display: inline-block;
        transition: all .3s;
        &:hover {
          background: lighten($col-tertiary, 10);
          color: black;
          transform: translateY(-.5rem);
          box-shadow: 0 2rem 3rem rgba(black, .4);
        }
      }
    }

    .who-desc {
      .peopleGroupImg {
        margin: auto;
        width: 40rem;
        height: 40rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-image: linear-gradient(#f4de62, #e59534),
        url(../../assets/Challenges-of-elderly-smaller-1024x683.png);
      }
      .peopleGroupImg2{
        background-image: linear-gradient(#6df04c, #26ba73),
          url(../../assets/image-20170210-23350-zxv9gt.jpg);
      }
      img {
        width: 40rem;
      }

      p {
        margin-top: 2rem;
        font-size: 2rem;
      }
    }
  }
}

